<configuration debug="false" scanPeriod="1 seconds" >

  <appender
      name="FILE"
      class="ch.qos.logback.core.FileAppender"
  >
    <File>target/novelang.log</File>

    <append>false</append>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>

  </appender>

  <logger name="org.novelang" >
    <level value="DEBUG" />
  </logger>


  <logger name="org.novelang.parser.antlr" >
    <level value="WARN" />
  </logger>


  <root>
    <level value="WARN" />
    <appender-ref ref="FILE" />
  </root>

</configuration>