.DS_Store
demo-material
scratch
test-scratch
target
target2
batch-generated
antlrworks
distrib
ide/idea/out
ide/idea/generated
ide/idea/test-scratch
ide/idea/.idea/workspace.xml
ide/idea/.idea/libraries
src/main-resources/fonts/more-fonts-*
src/main-resources/more-fonts-*
projects/*/*.iml
names.bin
git-crunch.sh
*.log
grammar-debug-classes
_*
*.xml~
pom.xml.versionsBackup
pom.xml.releaseBackup
/release.properties
