.DS_Store
demo-material
idea/out
scratch
test-scratch
target
target2
batch-generated
antlrworks
distrib
idea/Novelang.ipr
src/main-resources/fonts/more-fonts-*
src/main-resources/more-fonts-*
src/main/novelang/parser/unicode/names.bin
*.log
grammar-debug-classes
_*
*.ipr