.DS_Store
demo-material
scratch
test-scratch
target
target2
batch-generated
antlrworks
distrib
ide/idea/out
ide/idea/generated
ide/idea/test-scratch
src/main-resources/fonts/more-fonts-*
src/main-resources/more-fonts-*
names.bin
*.log
grammar-debug-classes
_*
*.ipr