<configuration debug="false" >

  <appender
      name="FILE"
      class="ch.qos.logback.core.FileAppender"
  >
    <!-- System property MUST be set -->
    <File>${novelang.log.dir}/novelang.log</File>
    <!--<File>novelang.log</File>-->

    <Append>false</Append>
    <Encoding>UTF-8</Encoding>
    <BufferedIO>false</BufferedIO>
    <ImmediateFlush>true</ImmediateFlush>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>

  </appender>

  <logger name="novelang" >
    <level value="INFO" />
  </logger>

  <root>
    <level value="WARN" />
    <appender-ref ref="FILE" />
  </root>

</configuration>