<configuration scan="true" scanPeriod="1 seconds" debug="true">

  <appender
      name="STDOUT"
      class="ch.qos.logback.core.ConsoleAppender"
  >
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>

  </appender>

  <logger name="org" >
    <level value="WARN" />
  </logger>

  <logger name="httpclient" >
    <level value="WARN" />
  </logger>

  <logger name="FOP" >
    <level value="WARN" />
  </logger>

  <logger name="org.novelang" >
    <level value="DEBUG" />
  </logger>

  <logger name="org.novelang.outfit.EnvironmentTools" >
    <level value="WARN" />
  </logger>

  <logger name="org.novelang.loader" >
    <level value="INFO" />
  </logger>

  <logger name="org.novelang.parser.antlr" >
    <level value="WARN" />
  </logger>

  <logger name="org.novelang.common.tree.Statistics" >
    <level value="WARN" />
  </logger>

  <root>
    <appender-ref ref="STDOUT" />
    <level value="INFO" />
  </root>

</configuration>