<configuration>

  <appender
      name="STDOUT"
      class="ch.qos.logback.core.ConsoleAppender"
  >
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="org" >
    <level value="WARN" />
  </logger>

  <logger name="FOP" >
    <level value="WARN" />
  </logger>

  <logger name="novelang" >
    <level value="INFO" />
  </logger>

  <logger name="novelang.model.implementation.StyledElement" >
    <level value="DEBUG" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>