body {
  width : 400pt ;
  background : #dddddd ;
}

h1 {
  font-size : 21pt ;
}

h2 {
  font-size : 15pt ;
}

p {
  font-size : 13.5pt ;
	text-indent : 1em ;
	text-align : justify ;
	line-height : 1.30 ;
	margin : 1pt 0 0 15pt;
	padding : 5pt ;
}

code {
  font-size : 11pt;
}

/* Reserved to html-source.xsl for displaying HTML source elements. */
tt {
  font-size : 11pt ;
  font-weight: bold ;
}

pre {
  font-size : 12pt ;
  text-indent : 0 ;
  text-align : left ;
  line-height : 1.1 ;
  margin : 1pt 0 15pt 15pt;
  padding :0 0 0 10pt ;
  border-left-style : solid ;
  border-left-color: brown ;
  border-left-width: 6px ;
}

blockquote > p {
  font-size : 12.0pt ;
	text-indent : 0 ;
	text-align : left ;
	line-height : 1.25 ;
	margin : 1pt 0 0 12pt;
	padding : 0 ;
}

table, td
{
    border-color: maroon;
    border-style: solid;
}

table
{
    border-width: 0 0 1pt 1pt;
    border-spacing: 0;
    border-collapse: collapse;
}

td
{
    margin: 0;
    padding: 4pt;
    border-width: 1pt 1pt 0 0;
    background-color: #dfdfdf;
}




ul.tags > li
{
  list-style-type:none ;
  float: right ;
  border-style: solid;
  border-width: 1px;
  font-size: 9pt ;
  margin-left: 2px ;
}



li.tag-paragraph
{
  /*background-color: mediumpurple ;*/
  padding: 2px 2px 2px 2px ;
}

li.tag-level
{
  /*background-color: greenyellow;*/
  padding: 2px 2px 2px 2px ;
}

